.banner{
    background-image: url('https://images.pexels.com/photos/3740695/pexels-photo-3740695.jpeg?cs=srgb&dl=cafe-copo-taca-caneca-3740695.jpg&fm=jpg');

}

.rodape{
    position: relative;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);

}

.opacidade-navbar{
    opacity: 80%;
}
/*estudar isso
*/
 

.base-carousel{
    background-color: #FFF0E6;
}
